body {
    background-color: #EFD2EA;
    font-family: 'Zalando Sans SemiExpanded';
    margin: 0;
}

nav {
    height: 10vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
    font-weight: 600;
    font-size: 18px;
}
ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 64px;
}

h2 {
    text-align: center;
}

.hero-section{
    text-align: center;
}

form {
    border: 2px solid black;
    border-radius: 8px;
    width: 500px;
    height: fit-content;
    padding: 10px 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    height: 30px;
    width: 50%;
    align-self: center;
    border-radius: 20px;
    border: 2px solid grey;
}
button:hover {          
    background-color: cornflowerblue;
    color: white;
    font-weight: 600;
}

.testimonials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 48px;
    margin: 0px 36px;
}

.testimonial-card {
    display: flex;
    flex-direction: column;
    border: 2px solid grey;
    box-shadow: slategray;
    padding: 0px 24px;
}